* {
    margin: 0;
    padding: 0;
    outline: none;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
:root {
  --origin-safe-area-inset-top: 0;
  --origin-safe-area-inset-bottom: 0;
  --safe-area-inset-top: var(--windvane-safe-area-inset-top, var(--origin-safe-area-inset-top));
  --safe-area-inset-bottom: var(--windvane-safe-area-inset-bottom, var(--origin-safe-area-inset-bottom));
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #f2f2f2;
    width: 100%;
    overflow-x: hidden;
    //min-height: 100%;
}
body {
    //font-family: '黑体-简','Microsoft YaHei','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: '黑体', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
    background: #f2f2f2;
    font-size: 1rem;
    color: #333333;
    box-sizing: content-box;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
   // min-height: 100%;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
    display: block;
}
a {
    display: block;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: none;
}
em {
    font-style: normal;
}
footer,
header,
section {
    display: block;
}
section {
    min-width: 320px;
    margin: 0 auto;
    width: 100%;
}
input,
select {
    font-size: 1rem;
    display: inline-block;
    background: transparent;
    border: none;
    vertical-align: middle;
    color: #333;
    width: 100%;
}
input::-webkit-input-placeholder,
select::-webkit-select-placeholder {
    color: #C2C2C2;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.md-10{
    margin-bottom: 0.6rem;
}
.pay-person-info,.pay-idCard-info{
    background-color: #fff;
}
.pay-person-info{
    .item-label{
        width:24%;
    }
    .c-form-item{
        width: 100%;
        min-height: 3.33rem;
        line-height: 3.33rem;
        .item-ipt{
            height: auto;
        }
    }

}
.text-readOnly{
    color: #999;
    font-size: 1rem;
}
.pull-right.text-overflow{
    width: 100%;
}
.list-info{
    width: 100%;
    clear: both;
    display: block;
    min-height: 3.125rem;
    .list-left{
        width: 24%;
        text-align: left;
        font-size: 1rem;
        color: #333;
        padding: 1rem 0 1rem 1rem;
    }
    .list-right{
        width: 76%;
        padding: 1rem 0 1rem 1rem;
        text-align: left;
    }
}
.list-model{
    dt{
        display: block;
        clear: both;
        width: 100%;
        min-height: 2.667rem;
        position: relative;
        &::after {
            position:  absolute;
            content: " ";
            height: 1px;
            background-color: #e5e5e5;
            left: 0;
            bottom: 0;
            -webkit-transform: scaleY(.5);
            width: 100%;
        }
    }
    .list-model-leader{
        padding: 0.66rem 0 0.66rem 1rem;
        color: #333;
        font-size: 1rem;
        font-weight: bold;
    }
    .list-right-operate{
        padding: 0.66rem 0.6rem 0.66rem 0rem;
        .link-list-btn{
            color: #508CEE;
            font-size: 0.8125rem;
            padding-right: 0.5625rem;
            .iconfont{
                font-size: 1rem;
                color: #999;
            }
        }

    }
    dd{
        overflow: hidden;
        clear: both;
        display: block;
        width: 100%;
        .c-form-item{
            width: 100%;
            min-height: 3.33rem;
            line-height: 3.33rem;
            overflow: hidden;
            &::after{
                -webkit-transform: scaleY(.5);
            }
            .item-label{
                // width:24%;
            }
            .item-ipt{
                min-height: 3.33rem;
                padding-right: 0.5rem;
                // width: 76%;
            }
            .input-control{
                line-height: 3.33rem;
            }
            .iconfont{
                font-size: 1.2rem;
                color: #999;
            }

            .link-list-btn{
                padding-right: 0.4rem;
            }
            .text-overflow{
                .link-list-btn{
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    width: 90%;
                    display: block;
                    float: right;
                    text-align: right;
                }
                .iconfont{
                    float: right;
                }
            }
        }
    }

}

.pop-md {
    //display: none;
    position: absolute;
    z-index: 3;
    background-color: #fff;
    font-size: .9rem;
    //height: 3rem;
    //line-height: 3rem;
    width: 8rem;
    text-align: center;
    padding: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    right: 0.5rem;
    top: 2.5rem;
    .p-op {
        padding: 0.9rem 0;
        font-size: .95rem;
        line-height: 1.1rem;
        border-bottom: solid 1px #e5e5e5;
        &:active,&.active{
            color: #0086fb;
        }
        &:last-child{
            border: 0;
        }
    }
    .p-sid {
        position: absolute;
        background-color: #fff;
        border: solid 1px #e5e5e5;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-left: solid 1px #e5e5e5;
        border-top: solid 1px #e5e5e5;
        width: 0.8rem;
        height: 0.8rem;
        top: -0.3rem;
        z-index: 1;
        right: 0.65rem;
        display: block;
    }
    .p-sid-mo {
        width: 3rem;
        height: .8rem;
        z-index: 2;
        right: .65rem;
        background-color: #fff;
        top: 0;
        display: block;
        position: absolute;
    }
}
.pop-bj {
    //display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
}
.footerBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f8f8f8;
    //box-shadow: 0 0 10px #999;
    font-size: 1rem;
    display: -webkit-box;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    &::after {
        position:  absolute;
        content: " ";
        height: 1px;
        background-color: #e5e5e5;
        left: 0;
        top: 0;
        -webkit-transform: scaleY(.5);
        width: 100%;
    }
    .baofTotal {
	    display: block;
	    padding: .8rem;
	    -webkit-box-flex: 3;
        text-align: right;
        line-height: 1.7rem;
        .price{
            color: #0087fb;
            small{
                font-size: 0.6rem;
            }
        }
	}
	.submitBtn {
	    display: block;
	    height: 100%;
	    -webkit-box-flex: 1;
	    text-align: center;
	    padding: .5rem 1rem .5rem .5rem;
	    color: #fff;
        display: -webkit-box;
        height: initial;
        span{
            width: 100%;
            display: block;
            background-color: #0087fb;
            font-size: 0.8667rem;
            line-height: 2.35rem;
            -moz-border-radius: 0.2rem;
            -webkit-border-radius: 0.2rem;
            border-radius: 0.2rem;
        }
	    &.unClickable {
            pointer-events: none;
            span{
                background-color: #ccc;
            }
		}
	}
}
.hasReadLabel{
    position: relative;
    display: block;
    color: #999;
    font-size: .8rem;
    width: 100%;
    margin: 1rem;
    .iconfont{
        font-size: 1.2rem;
        color: #999;
        position: absolute;
        top: -0.25rem;
        &.icon-choose_done_line{
            color: #0087fb;
        }
    }
    .label-tip{
        padding-left: 1.7rem;
    }
    .a-link{
	    display: inline-block;
	    margin: 0 2px;
	    text-decoration: none;
	    color: #009CFC;
	}
}
.t-info-title{
    font-size: 1rem;
    line-height: 1rem;
    color: #333333;
    padding: 10px 15px 5px 15px;
    font-weight: bold;
}
.t-info-content{
    padding: 10px 15px 10px 15px;
    line-height: 150%;
    color: #666666;
    font-size: 0.9rem;
    a {
        display: inline-block;
    }
}
/*表单样式*/
.c-form-item {
    overflow-x: hidden;
    position: relative;
    padding-left: 1rem;
    background-color: #fff;
    display: flex;
    // height: 2.8125rem;
    line-height: 2.8125rem;
    &::after {
        content: " ";
        height: 1px;
        position: absolute;
        left: 1rem;
        height: 1px;
        bottom: 0;
        display: block;
        width: 100%;
        background: #E5E5E5;
    }
    .item-label {
        width: 34%;
        font-size: 1rem;
    }
    .item-ipt {
        flex: 1;
        font-size: 1rem;
        padding: 1rem 0;
        line-height: 150%;
        //height: 2.8125rem;
        input, select {
            width: 100%;
            display: block;
            height: 100%;
            line-height: 1.8125rem;
            border: none;
            outline: none;
            font-size: .93rem;
            box-sizing: border-box;
            box-sizing: border-box;
            padding: 0.5rem 0;
            &.gray {
                color: #999;
            }
            &.error{
               // background: url(https://res.winbaoxian.com/legacy/gexian/img/error.png) left center no-repeat !important;
                background-size: 15px 15px !important;
               // padding-left: 20px !important;
                color: #ff5757!important;
                -webkit-appearance: none;
               // -webkit-animation: error_shake_an 0.5s ease;
              }
              &.error::-webkit-input-placeholder{
                  color: rgba(255,87,87,1)!important;
              }
        }

    }
    .item-btn {
        display: block;
        font-size: 1rem;
        padding-right: 1rem;
        &.active {
            color: #FF5000;
        }
        &.disable {
            color: #999;
        }
    }
    
      @-webkit-keyframes error_shake_an {
        0% {
            -webkit-transform: translateX(0px);
        }
        10% {
            -webkit-transform: translateX(4px);
        }
        20% {
            -webkit-transform: translateX(-4px);
        }
        30% {
            -webkit-transform: translateX(4px);
        }
        40% {
            -webkit-transform: translateX(-4px);
        }
        50% {
            -webkit-transform: translateX(4px);
        }
        60% {
            -webkit-transform: translateX(-4px);
        }
        70% {
            -webkit-transform: translateX(4px);
        }
        80% {
            -webkit-transform: translateX(-4px);
        }
        90% {
            -webkit-transform: translateX(4px);
        }
        100% {
            -webkit-transform: translateX(0px);
        }
      }
      @keyframes error_shake_an {
        0% {
            -webkit-transform: translateX(0px);
        }
        10% {
            -webkit-transform: translateX(4px);
        }
        20% {
            -webkit-transform: translateX(-4px);
        }
        30% {
            -webkit-transform: translateX(4px);
        }
        40% {
            -webkit-transform: translateX(-4px);
        }
        50% {
            -webkit-transform: translateX(4px);
        }
        60% {
            -webkit-transform: translateX(-4px);
        }
        70% {
            -webkit-transform: translateX(4px);
        }
        80% {
            -webkit-transform: translateX(-4px);
        }
        90% {
            -webkit-transform: translateX(4px);
        }
        100% {
            -webkit-transform: translateX(0px);
        }
      }
}
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
}
.content-warp{
    position: fixed;
    width: 18rem;
    left: 50%;
    top: 50%;
    z-index: 99;
    background: #fff;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    .content{
        padding: 1rem;
        .header{
            font-family: PingFangSC-Regular;
            font-size: 1.13rem;
            color: #333333;
            letter-spacing: 0;
            text-align: center;
            line-height: 2;
        }
        p{
            margin: 0.3rem 0 .5rem 0;
            font-family: PingFangSC-Regular;
            font-size: .8rem;
            color: #999999;
            letter-spacing: 0;
            line-height: 1.2rem;
        }
        .input{
            width: 16rem;
            height: 3rem;
            display: flex;
            input{
                font-size: .9rem;
                color: #333;
                letter-spacing: 0;
                line-height: 1;
                flex: 5;
                border:1px solid #C2C2C2;
                border-radius: 0;
                box-shadow: none;
                border-right:none;
                padding: .8rem 0.3rem;
                outline: none;
                -webkit-appearance: none
            }
            input::-webkit-input-placeholder{
                font-size: .9rem;
                color: #CCCCCC;
                letter-spacing: 0;
                line-height: 1;
            }
            >div{
                flex: 3;
                height: 100%;
                background: #508CEE;
                font-size: .8rem;
                color: #FFFFFF;
                letter-spacing: 0;
                text-align: center;
                line-height: 3rem;
                &.unable{
                    background: #CCCCCC;
                }
            }

        }
        .erroHint{
            font-family: PingFangSC-Regular;
            font-size: .8rem;
            color: #F43030;
            letter-spacing: 0;
            line-height: 2.5;
        }
    }
    .botton{
        width: 100%;
        height: 3.333rem;
        display: flex;
        border-top:1px solid #C2C2C2;
        span{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            ont-family: PingFangSC-Regular;
            font-size: 1.067rem;
            color: #333333;
            text-align: center;

        }
        span.active{
            color: #508CEE;
            border-left:1px solid #C2C2C2;
        }
    }
}